<h1>Listing Users</h1>
<ul class="users">
  <% @users.each do |user| %>
    <li>
      <ul><%= user.name %></ul>
      <ul><%= user.email %></ul>
      <ul>
        Apps registered to this user here:
        <li></li>
      </ul>
    </li>
  <% end %>
</ul>